# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log

# Datos y secretos
.env
.env.example
data/

# Documentacion
README.md
INSTRUCCIONES.md

# OS
.DS_Store
Thumbs.db

# Editores
.vscode
.idea
*.swp
